.jumbotron {
  background-image: url(../backgrounds/landing.jpg);
  height: 400px;
  color: white;
}
.breakfast {
background-image: url(../images/breakfast.jpg);

}
body{
  font-family: 'Lato', sans-serif;

}
.btn {
  outline-style: solid;
  color:#E85C00 ;
}
.menu {
  height:180px;
  text-align: center;
  margin-right: -2px;
  margin-left: -2px;
  box-sizing: content-box;

}
.breakfast, .lunch, .dinner h2 {
  padding: 60px;
  color: white;
}
.lunch {
background-image: url(../images/lunch.jpg);
}
.dinner {
background-image: url(../images/dinner.jpg);

}

.breakfast {
background-image: url(../images/breakfast.jpg);
}
.happyhour {
  color: black;
  height: 50%;
  text-align: center;
}
.partytime {
  background-color:#E85C00 ;
  color: white;
  height: 50%;
  text-align: center;
}
.happyparty {
  width:100%;
}
.fastfood {
  padding-left: 300px;
}
.fastfoodimages, .drinkimages{
  border-style:outset;
}
.drinks {
  padding-left: 300px;
}
.drink1, .drink2{
flex: 50%;
padding: 0px;
}
.drink1{
  float: left;
}
.drink2{
  float: left;
}
.bottom-bigimage {
  background-image: url(../backgrounds/foodsBg.jpg);
  height: 400px;
}
.bottomcard {
  padding-top: 0px;
  margin-top: 50px;
  margin-right: 300px;
  margin-left:300px;
  margin-bottom: 200px;
  height: 300px
}
.beefBurger, .chickenBurger, .chickenPizza {
margin-top: 10px;
margin-left: 40px;
flex: 33.3%;
text-align: center;
color: #E85C00;
font-weight: bold;
}
.cardtext;
{
height: 100px;
padding-bottom: 100px;
}
