.slogan{
  text-align: center;
}
.jumbotron {
  background-image: url(../backgrounds/landing.jpg);
  height: 400px;
  color: white;
}
.happyhour {
  color: black;
  height: 90px;

}
.breakfast {
background-image: url(../images/breakfast.jpg);

}
body{
  font-family: 'Lato', sans-serif;

}
.partytime{
  background-color:#E85C00 ;
  color: white;
  height: 90px;

}
.partytime,.breakfast, .lunch, .dinner {

color: white;
}
.lunch {
background-image: url(../images/lunch.jpg);
}
.dinner {
background-image: url(../images/dinner.jpg);
}
.menu {
  height:180px;
  text-align: center;
}
h2 {
  padding: 50px;
  top: 50%;
  left: 50%;

}
.doublecol {
  margin-right: 0px;
}
.btn {
  outline-style: solid;
  color:#E85C00 ;
}
.card {
margin-left:300px;
}
.fastfoodcard {
 float:left;
  overflow: auto;
  height: 200px;
}
