.slogan{
  text-align: center;
}
.jumbotron {
  background-image: url(../backgrounds/landing.jpg);
}
.happyhour {
  background-color:grey;
}
.breakfast {
background-image: url(../images/breakfast.jpg)
text
}
